.cuerpologin {
  background: rgba(37, 162, 213, 255);
  display: flex;
  flex-wrap: nowrap;
  height: 290px;
  width: responsive;
}

.login {
  display: flex;
  flex-direction: column;
  overflow: auto;
  float: right;
  position: relative;
  margin-block: 40px;
  margin-bottom: 350px;
  left: -6%;
  box-sizing: border-box;
  width: 39%;
  height: 160%;
  align-items: center;
  background: #ffffff;
  border: 1px solid #25a2d5;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 580;
  font-size: 21px;
  line-height: 29px;
  text-align: center;

  color:rgb(52, 100, 139);
}

.contenedorImg{
  border-radius: 10%;
  border: 1px solid #25a2d5;
  margin: 30px;
  text-align: center;
  width: 60%;
  height: 29%;
  background-color: rgb(203, 228, 249);
}

.imgMapache{
  position: relative;
  top: 20%;
  left: 5%;
  width: 55%;
  height: 180%;
}

.buttonRegistro{
  margin-bottom: 15px;
}